.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.logo-text {
    font-size: 16px;
    position: absolute;
    margin-left: 50px;
}