:root {
  --primary-periwinkle: #d8dcff;
  --secondary-periwinkle: #aeadf0;
  --rosy-brown: #c38d94;
  --china-rose: #a76571;
  --ultra-violet: #565676;
}

.shows-container {
  background-color: var(--primary-periwinkle);
  display: flex;
  flex-direction: column;
  align-items: center;
}
